* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div1,
.div2 {
  height: 100vh;
}
.div1 {
  background-color: pink;
  padding-top:50px
}
.box{
  background-color: tomato;
  width: 80px;
  height: 80px;
  margin: 25px;
}
.div2 {
  background-color: salmon;
}
.circle {
  width: 100px;
  height: 100px;
  margin:25px;
  background-color: fuchsia;  
}
