@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}
.div1,
.div2 {
  height: 100vh;
}
.div1 {
  background-color: pink;
  padding-top: 50px;
}
.box {
  background-color: tomato;
  width: 80px;
  height: 80px;
  margin: 25px;
}
.div2 {
  background-color: salmon;
}
.circle {
  width: 100px;
  height: 100px;
  margin: 25px;
  background-color: fuchsia;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.buttons button {
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.count h1{
 text-align: center;
 font-size: 5rem;
}